<div th:fragment="header">
  <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a href="/static" class="d-flex align-items-center text-dark text-decoration-none">
      <span class="fs-4">Halcyon</span>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <a class="me-3 py-2 text-dark text-decoration-none" href="/static">Главная</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="/blog">Блог</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="/blog/add">Добавить статью</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="/about">Про нас</a>
    </nav>
  </div>
</div>